/* Style the header background and some padding */
.header {
  overflow: hidden;
  background-color: #b67272;
  padding: 20px 10px;
}
 /* Style the header links */
.header a {
  float: left;
  color: peachpuff;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
}
 /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 30px;
  font-weight: bold;
}
 /* Change the background color on mouse-over */
.header a:hover {
  background-color:peachpuff;
  color: black;
}
 /* Style the active/current link*/
.header a.active {
  /*background-color:peachpuff;*/
  color: black;
}
 /* Float the link section to the right */
.header-right {
  float: right;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Franklin Gothic Medium', 'Arial Narrow';
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 30px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

img {
  float: left;
  width:  100px;
  height: 250px;
  object-fit: cover;
  padding-bottom: 20px;
}

/* Style the footer background and some padding */
.footer {
  overflow: hidden;
  background-color: #b67272;
  padding: 20px 10px;
}
 /* Style the footer links */
.footer a {
  float: left;
  color: peachpuff;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  line-height: 25px;
  border-radius: 4px;
}
 /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the footer to increase when the font gets bigger */
.footer a.logo {
  font-size: 30px;
  font-weight: bold;
}
 /* Change the background color on mouse-over */
.footer a:hover {
  background-color: #ddd;
  color: black;
}
 /* Style the active/current link*/
.footer a.active {
  /*background-color: peachpuff;*/
  color: black;
}
 /* Float the link section to the right */
.footer-right {
  float: right;
}